/* Define color constants */

:root {
  --background-color: #e7e6e6;
  --accent-one: #e78b86;
  --accent-two: #994d6a;
  --accent-three: #433e64;
  --accent-four: #dffff7;
}

body {
  background-color: var(--background-color);
  font-size: medium;
}

.App {
  text-align: left;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

a.nav-menu {
  margin: 1vw;
}

a.source-code {
  color: var(--accent-three);
}

a.disorder-metadata {
  font-size: medium;
  background-color: none;
  padding-top: 0;
  padding-bottom: 0;
}

p.disorder-metadata {
  font-size: large;
}

a {
  text-decoration: none;
}

a {
  color: var(--accent-three);
  background-color: var(--accent-one);
  padding: 1vw;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--accent-two);
}

.App-link {
  color: var(--accent-three);
}

div.disorder-display-box,
div.symptom-display-box,
div.most-relevant-diseases {
  font-size: calc(10px + 2vmin);
  color: var(--accent-four);
  font-size: medium;
  margin: 4vh 2vw;
}

h1.most-relevant-diseases-header,
h1.symptom-display-box-header,
h1.disorder-display-box-header,
h2.symptom-display-box-body-title,
h2.selected-symptoms-body-title {
  color: var(--accent-two);
}

div.disorder-display-box-body,
div.symptom-display-box-body,
div.most-relevant-diseases-body {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 8px;
}

div.disorder-display-box-body-disorder,
div.symptom-display-box-body-symptom {
  background-color: var(--accent-two);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 1vw;
}

div.selected-symptoms-body {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 2vw;
}

div.selected-symptoms-body-symptom {
  background-color: var(--accent-three);
  padding: 1vw;
  color: var(--accent-one);
}

div.footer {
  display: flex;
  direction: rtl;
}

input[type=text] {
  width: 100%;
  padding: 1vw;
  border: none;
  border-bottom: 1px solid var(--accent-four);
  background-color: var(--accent-one);
  color: var(--accent-four);
  font-size: larger;
  box-sizing: border-box;
}

button.selected-symptoms-symptom-search {
  display: block;
  background-color: var(--accent-one);
  color: var(--accent-three);
  margin-top: 1vw;
  padding: 1vw;
  border: none;
  font-size: larger;
}

button.selected-symptoms-symptom-search:hover {
  background-color: var(--accent-three);
  color: var(--accent-one);
  cursor: pointer;
}

button.symptom-metadata,
button.selected-symptoms-symptom-metadata {
  display: block;
  background-color: var(--accent-one);
  color: var(--accent-three);
  margin-top: 1vw;
  border: none;
  font-size: large;
}

button.symptom-metadata:hover,
button.selected-symptoms-symptom-metadata:hover {
  background-color: var(--accent-three);
  color: var(--accent-one);
  cursor: pointer;
}

@media (min-width: 900px) {
  div.disorder-display-box-body,
  div.symptom-display-box-body,
  div.most-relevant-diseases-body {
    grid-template-columns: repeat(3, 1fr); 
  }
}
